<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var name = session.GetString("Name");
    var roleId = session.GetInt32("RoleId");
    var accountId = session.GetInt32("AccountId");
}
<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    @if(roleId != 1 && roleId != 2){
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Toy Store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Toy/Index">Toy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Cart/Index">Cart</a>
                                </li>
                            @if (name == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                                </li>

                            }
                            @if (roleId == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/MyOrder">My Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/MyProfile">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/FeedbackPage/Feedback">Feedback</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (roleId == 1 || roleId == 2)
    {
        <div id="wrapper">

            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-text mx-3">Admin Dashboard</div>
                </a>

                <hr class="sidebar-divider my-0">

                <li class="nav-item active">
                    <a class="nav-link" href="/Dashboard">
                        <span>Dashboard</span>
                    </a>
                </li>

                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Management Account
                </div>
                @if (roleId == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/Staffs">
                            <span>Management Staff</span>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Customers">
                        <span>Management Customer</span>
                    </a>
                    </li>

                    <hr class="sidebar-divider">

                    <div class="sidebar-heading">
                        Product
                    </div>

                    <li class="nav-item">
                        <a class="nav-link " href="/ManageProduct" >
                            <span>Management Product</span>
                        </a>
                    </li>

                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Order
                </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/ManageOrder">
                            <span>Order Management</span>
                        </a>
                    </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Feedback
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/FeedbackPage/Feedback">
                        <span>Feedback Management</span>
                    </a>
                </li>
                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Settings
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/Logout">
                        <span>Logout</span>
                    </a>
                </li>
                    </ul>
                    <div class="container-fluid">
            <main role="main">
                @RenderBody()
            </main>
                        </div>
        </div>
                }

     @if(roleId != 1 && roleId != 2){
            @RenderBody()
     }
     @if(roleId != 1 && roleId != 2){
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ToyStoreManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
     }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>