@grey: #A3ADB2;
@green: #A4B123;
@orange: #E7B600;
@red: #C20000;

.alerts {
    position: absolute;
    top: 120px;
    right: 30px;
    width: 300px;
    min-height: 200px;
    // background-color: rgba(0,0,0,.1);
    .alert

{
    position: relative;
    border: none !important;
    margin-bottom: 8px;
    text-shadow: 0 -1px 1px rgba(0,0,0,.2);
    .icon

{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    width: 80px;
    text-align: center;
}

.copy {
    margin-left: 60px;
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,.3);
    line-height: 1.2;
    h4

{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 0;
}

}

.close {
    opacity: 1;
    background-color: #eee;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}

&.alert-info {
    background-color: @grey;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(@grey, 50%);
    .close

{
    color: @grey;
    border-color: @grey;
}

}

&.alert-success {
    background-color: @green;
    color: black;
    box-shadow: 0 0 20px 5px fade(@green, 50%);
    .close

{
    color: @green;
    border-color: @green;
}

}

&.alert-warning {
    background-color: @orange;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(@orange, 40%);
    .close

{
    color: @orange;
    border-color: @orange;
}

}

&.alert-danger {
    background-color: @red;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(@red, 30%);
    .close

{
    color: @red;
    border-color: @red;
}

}
}
}

.hero {
    min-height: 500px;
    background-color: #555;
}

header {
    position: relative;

.markets {
    background-color: black;
    height: 30px;
}

.navbar {
    border-radius: none;
    margin-bottom: 0;
    .navbar-brand

{
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav {
    > li

{
    > a

{
    padding-top: 25px;
    padding-bottom: 25px;
}

}
}
}
}
